html,
body {
  height: 100%;
  background-color: #4a8cc9;
}

body {
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
  color: #FFFFFF;
}

.jumbotron {
  background: #9f82dd;
  text-align: center;
  margin-top: 150px;
}

.jumbotron h1 {
    color: #ffffff;;
}

.jumbotron p {
    color: #ffffff;;
}

.btn{
    margin-top: 25px;
}